*
{
    margin: 0;
    padding: 0;
}

body {
    
    background-image: url("../img/reddwarf.webp");
    
}
h1{
    color: red;
    text-shadow: dimgray;
    font-size: 4em;
    text-align: center;
	font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
h2
{
    color: rgb(202, 44, 44);
}
main{
    color: white;
    margin: 15px 0;
	text-align: center;
    
    
}
header{
    top: 0;
    position: fixed;
   
}
#main-header{
    background-color: gray;
}
footer
{
    color: white;
    margin: 15px 0;
	text-align: center;
    position: fixed;
}    
.separacion{
    color: white;
}
#lista1 li {
    display:inline;
    font-size: .875rem;
    font-weight: 400;
    margin-right: 1px;
    
    
}
.botones{
    text-decoration: none;
    color: beige;
    position: static;
    
}
@media (min-width: 600px) {
    main{
        flex-wrap: wrap;
    }
 
}
div{
    flex-basis: 33%;
    height: 200px;
    margin-bottom: 2rem;
}
.grid-container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    padding: 20px;
    margin: 20px;
    position: inherit;
}

#volv-inicio{
    text-decoration: none;
    color: beige;
}
#comments{
     
    color: white;
    

}
#textarea{
    color: black;
}
#mail{
    color: black;
}
p{
    margin: 30px;
}
